@charset "iso-8859-1";
@import url(style.css); 
/* Very short Gecko-specific additions/changes here (if 
any) */ 
td#mainmenu a {background-color: #AAC4AA; display: block;}
td#mainmenu a:hover {background-color: #8BBD8B;}
td#mainmenu a.menuTop {border-top: 1px solid silver; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}
td#mainmenu a.menuMain {border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}
td#mainmenu a.menuSub {border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}
td#usermenu a {background-color: #AAC4AA; display: block;border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid silver;}
td#usermenu a:hover {background-color: #8BBD8B;}
td#usermenu a.menuTop {border-top: 1px solid silver;}
td#usermenu a.highlight {background-color: #FCD706; color: #366692; font-family: sans-serif; font-weight: bold; font-size: 12px; font: Verdana, Arial Black; text-decoration: none}